<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DOOM</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <link rel="stylesheet" href="../styles/font.css">
    <link rel="stylesheet" href="../styles/must.css" id="default-style">
    <link rel="stylesheet" href="../styles/style.css" id="default-style">
    <link rel="stylesheet" href="../node_modules/xterm/css/xterm.css" />

    <style id="scroll"></style>
    <style id="theme"></style>

    <script src="../node_modules/emoji-picker-element/index.js" type="module"></script>
    <script src="../node_modules/xterm/lib/xterm.js"></script>
</head>
<body onscroll="disableScrolling()" onmousewheel="enableScrolling()" onclick="enableScrolling()" onmousemove="enableScrolling()">
    <div id="titlebar">
        <button id="menu" title="menu"><img src="../file/icons/menu.svg"></button>
        <div id="drag" title="DOOM Terminal">DOOM</div>
        <div id="traffic">
            <button id="minimize" title="minimize"><img src="../file/icons/minimize.svg"></button>
            <button id="maximize" title="maximize"><img src="../file/icons/maximize.svg"></button>
            <button id="close" title="close"><img src="../file/icons/close.svg"></button>
        </div>
    </div>
    <div id="tab-holder">
        <div id="tabs" class="tabs"></div>
        <div id="more-tabs" class="more-tabs">
            <button id="add-tab" title="add new tab" onclick="newTerm(defaultShellName + Math.round(Math.floor(Math.random() * 1000) + 9999))"><img src="../file/icons/add.svg"></button>
            <button id="add-more-tab" title="open another new tab"><img src="../file/icons/down-arrow.svg"></button>
        </div>
    </div>
    <div id="terminal-holder">
    </div>
    <div id="first-time">
        <button class="close">Close</button>
        <div style="text-align: center;">
            <img src="../file/appicons/DOOM.png" width="80px">
            <h1>DOOM</h1>
            <h6>THE TERMINAL OF DOOM</h6>
        </div>
        <p>
            DOOM is a powerfully small application for command-line interface and emulating terminals.
            It is focused at being primarily around speed, stability, customizability, beautiful design and extra features.
            Additionally it is made with web standards.
        </p>
        <hr>
        <p>
            <h4>App Details</h4>
            Developer: <a href="javascript:link('https://imagineeeinc.github.io')">Imagineee</a>
            <br>
            App Version: <span id="app-version"></span>
            <br>
            Copyright: Copyright © 2021 Imagineee
            <br>
            Licence: <a href="javascript:link('https://github.com/imagineeeinc/DOOM/blob/main/LICENSE')">MIT License</a>
        </p>
        <hr>
        <p>
            <h4>Links</h4>
            <a href="javascript:link('https://imagineeeinc.github.io')">Developer Imagineee</a>, 
            <a href="javascript:link('https://github.com/imagineeeinc/DOOM/blob/main/LICENSE')">MIT License</a>, 
            <a href="javascript:link('https://github.com/imagineeeinc/DOOM')">Repo</a>
        </p>
        <hr>
        <p>
            <h3>Technical Details</h3>
            DOOM is currently using Node.js <span id="node-version"></span>,
            Chromium <span id="chrome-version"></span>,
            and Electron <span id="electron-version"></span>.
        </p>
        <hr>
        <p>
            <h4>Info for Nerds/ JS (Node JS) Developers/ Web Developers</h4>
            <ul>
                <li>Built on Electron with Electron Builder to bundle</li>
                <li>It is written in pure HTML, CSS and JavaScript from Scratch</li>
                <li>It uses the the xterm js library to emulate a terminal in HTML</li>
                <li>It uses node-pty to open a pseudo terminal in JavaScript to emulate the terminal</li>
            </ul>
        </p>
        <!--<hr>
        <p>
            <h4>System Details</h4>
            <code id="system-details"></code>
        </p>-->
    </div>
    <div id="add-more-menu" class="more-hide">
        <div id="add-more-shells"></div>
        <hr>
        <div id="add-more-more"></div>
    </div>
    <emoji-picker class="dark"></emoji-picker>
    <script>
        var move = false
        var timeout
        function disableScrolling() {
            setTimeout(function() {
                document.getElementById("scroll").textContent = "::-webkit-scrollbar {display: none}"
                move = false
            }, 500);
        }
        function enableScrolling() {
            document.getElementById("scroll").textContent = "::-webkit-scrollbar {}"
            move = true
            clearTimeout(timeout)
            timeout = setTimeout(function(){move = false}, 2000)
        }
        disableScrolling()
        document.onkeyup = disableScrolling
        document.onmouseup = enableScrolling
        document.onscroll = disableScrolling
        document.onmousewheel = enableScrolling
        setInterval(function() {
            if(move === false) {
                disableScrolling()
            }
        }, 1000)
    </script>
    <script src="../scripts/require.js"></script>
    <script src="../scripts/terminal-client.js"></script>
    <script src="../scripts/app.js"></script>
</body>
</html>
