:root {
    margin: 0px;
    padding: 0px;
    font-family: plex,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    animation-name: view;
    animation-duration: 0.2s;
    color: black;
}
@keyframes view {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
* {
  transition-duration: .2s;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e8e8e8; 
  border-radius: 3px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccd6d9;
}
::selection {
  background-color: rgba(184, 172, 231, 0.6);
  color: black;
  border-radius: 5px;
}
button {
  background-color: white;
  color: grey;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
}
button:hover {
  color: black;
  border: 1px solid grey;
}
a {
  color: darkslateblue;
}


input {
  font-family: inherit;
}
input[type="search"] {
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
header {
  display: grid;
  justify-content: center;
  width: 100vw;
  margin-bottom: 40px;
}

#titlebar {
  display: grid;
  justify-content: center;
  user-select: none;
  height: 25px;
}
#titlebar > #drag {
  -webkit-app-region: drag;
  width: 25vw;
  text-align: center;
}
#traffic {
  position: absolute;
  right: 0;
  margin-top: 0;
  padding-top: 0;
}
#menu {
  border: none;
  border-radius: 3px;
  background-color: rgb(0,0,0);
  width: 30px;
  height: 20px;
  margin: 0 !important;
  padding: 0;

  position: absolute;
  left: 0;
  margin-top: 0;
  padding-top: 0;
}
#menu > img {
  height: 18px;
}
#menu:hover {
  background-color: rgb(22, 22, 22);
}
#traffic > button {
  border: none;
  border-radius: 3px;
  background-color: rgb(0,0,0);
  width: 30px;
  height: 20px;
  margin: 0 !important;
  padding: 0;
}
#traffic > button > img {
  height: 18px;
}
#traffic > button:hover {
  background-color: rgb(22, 22, 22);
}

#terminal-holder{
  height: 100%;
}
#terminal-holder > div {
  height: 100%;
  overflow-y: auto;
}
#terminal-holder {
  overflow: hidden;
}

#tab-holder {
  height: 30px;
  width: 100vw;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tabs more-tabs";
}
.tabs { grid-area: tabs; }
.more-tabs { grid-area: more-tabs; }
#tabs {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr;
}
#tabs > span {
  border: 0.01px solid grey;
  text-align: center;
}
#tabs > span:hover {
  background-color: rgb(22, 22, 22);
}
#tabs > span:active {
  background-color: rgb(41, 41, 41);
}
#more-tabs {
  width: 70px;
  display: inline-block;
}
#more-tabs > button {
  border: none;
  border-radius: 3px;
  background-color: rgb(0,0,0);
  width: 30px;
  height: 25px;
  margin: 0 !important;
  padding: 0;
}
#more-tabs > button:hover {
  background-color: rgb(22, 22, 22);
}
#more-tabs > button > img {
  height: 23px;
}
#tabs > span > button {
  border: none;
  border-radius: 3px;
  background-color: rgb(0,0,0);
  width: 22px;
  height: 21px;
  margin: 0;
  margin-top: 3.5px;
  padding: 0;
  float: right;
}
#tabs > span > button:hover {
  background-color: rgb(22, 22, 22);
}#tabs > span > button:active {
  background-color: rgb(68, 68, 68);
}
#tabs > span > button > img {
  height: 23px;
}